// Body Style Include Here

$theme-color:#9054EF;
$font-path:"../fonts" !default;
$image-path:"../images" !default;
$clear:both;

$body-size:14px;
$body-color:#6C6C6C;
$body-family:'Quicksand', sans-serif;

// Heading Style Include Here

$heading-one: 31px;
$heading-two:	27px;
$heading-three: 25px;
$heading-four: 23px;
$heading-five: 21px;
$heading-six: 19px;
$heading-color:#464646;
$heading-family:'Quicksand', sans-serif;

// Transition Style Include Here
$transition:all 0.5s ease-in-out;